@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

#navigation img {
  width: 25px;
  filter: grayscale(1) invert(1);
}
#navigation {
  height: 100vh;
  background: #000;
  width: 15vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
}
#navigation p {
  font-size: 12px;
  padding: 20px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
#navigation ul {
  list-style: none;
  padding: 0;
}
#navigation ul li {
  margin-bottom: 40px;
}
#navigation-mob {
  display: none;
}
@media (max-width: 767px) {
  #navigation {
    display: none;
  }
  #navigation-mob {
    position: absolute;
    width: 100%;
    background: #000;
    height: 60px;
    z-index: 999;
    display: initial;
  }
  #home .imgsec .bgblack {
    display: none;
  }
  #navigation-mob h1 {
    font-size: 30px !important;
    margin-top: 10px;
    margin-left: 15px;
  }
  #navigation-mob h1 a {
    text-decoration: none;
    color: #fff;
  }
  #navigation-mob ul {
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #navigation-mob ul a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
}

body {
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}

h1 {
  font-size: 50px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900 !important;
}

h2 {
  font-size: 30px !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important;
  margin-bottom: 15px !important;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px !important;
  font-weight: 900 !important;
}

h5 {
  font-size: 22px !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px !important;
  line-height: 30px !important;
}

h6 {
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: transparent !important;
  color: #000 !important;
  border-radius: 0px !important;
  border-color: #000 !important;
  border-width: 2px !important;
  padding: 8px 40px !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  transition: 0.4s ease-in !important;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #000 !important;
  color: #fff !important;
}

p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  font-size: 20px !important;
}

@media (max-width: 767px) {

  html,
  body {
    overflow-y: visible;
  }
}

@media (max-width: 767px) {
  #home {
    padding-top: 80px;
  }

  .btn {
    padding: 7px 25px !important;
    width: 100%;
  }

  .fa-bars,
  .fa-close {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 28px !important;
    color: #fff;
  }
}